<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
<body>
  <header>
    <nav>
      <div class="grid">
        <img src="/flor.png" class="logo"></img>
        <div class="navbar-itens">
              <a class="nav-link" aria-current="page" href="http://localhost:3000/">Principal</a>
              <a class="nav-link" href="http://localhost:3000/contatos" style="margin-left: 30%;">Contatos</a>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="card">
      <img class="imagemCard" src="/tog05.jpg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 0.5</p>
      <div>
        <a class="botaoCard" href="http://localhost:3000/produto">ver produto</a>
      </div>
    </div>

    <div class="card">
      <img class="imagemCard" src="/tog1.jpg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 1</p>
      <div>
        <a class="botaoCard" href="http://localhost:3000/produto">ver produto</a>
      </div>
    </div>

    <div class="card">
      <img class="imagemCard" src="/tog2.jpg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 2</p>
      <div>
        <a class="botaoCard" href="http://localhost:3000/produto">ver produto</a>
      </div>
    </div>

    <div class="card">
      <img class="imagemCard" src="/tog3.jpeg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 3</p>
      <div>
        <a class="botaoCard" href="http://localhost:3000/produto">ver produto</a>
      </div>
    </div>
  </div>
  </body>
</html>
