<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
<body>
  <header>
    <nav>
      <div class="grid">
        <img src="/flor.png" class="logo"></img>
        <div class="navbar-itens">
              <a class="nav-link" aria-current="page" href="/">Principal</a>
              <a class="nav-link" href="/contatos" style="margin-left: 30%;">Contatos</a>
        </div>
      </div>
    </nav>
  </header>

  <div class="container"> 
  <% for (let produto of produtos){ %>
      <div class="card">
        <img class="imagemCard" src="<%=produto.imagem%>" alt="">
        <p class="textoCard"> <%=produto.nome%> </br><%= produto.descricao%></p> <!-- sinal de = mostra na tela o js -->
        <div>
          <a class="botaoCard" href="/produto">ver produto</a>
        </div>
      </div>
  <% } %>  
  </div>

    <!-- <div class="card">
      <img class="imagemCard" src="/imagens/tog1.jpg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 1</p>
      <div>
        <a class="botaoCard" href="/produto">ver produto</a>
      </div>
    </div>

    <div class="card">
      <img class="imagemCard" src="/imagens/tog2.jpg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 2</p>
      <div>
        <a class="botaoCard" href="/produto">ver produto</a>
      </div>
    </div>

    <div class="card">
      <img class="imagemCard" src="/imagens/tog3.jpeg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 3</p>
      <div>
        <a class="botaoCard" href="/produto">ver produto</a>
      </div>

    </div>
    <div class="card">
      <img class="imagemCard" src="/imagens/tog4.jpeg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 4</p>
      <div>
        <a class="botaoCard" href="/produto">ver produto</a>
      </div>
    </div>

    <div class="card">
      <img class="imagemCard" src="/imagens/tog5t1.jpeg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 5 - Tomo 1</p>
      <div>
        <a class="botaoCard" href="/produto">ver produto</a>
      </div>
    </div>

    <div class="card">
      <img class="imagemCard" src="/imagens/tog5t2.jpg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 5 - Tomo 2</p>
      <div>
        <a class="botaoCard" href="/produto">ver produto</a>
      </div>
    </div>

    <div class="card">
      <img class="imagemCard" src="/imagens/tog6.jpeg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 6</p>
      <div>
        <a class="botaoCard" href="/produto">ver produto</a>
      </div>
    </div>

    <div class="card">
      <img class="imagemCard" src="/imagens/tog5t2.jpg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 5 - Tomo 2</p>
      <div>
        <a class="botaoCard" href="/produto">ver produto</a>
      </div>
    </div>

    <div class="card">
      <img class="imagemCard" src="/imagens/tog6.jpeg" alt="">
      <p class="textoCard">Trono de Vidro </br> Volume 6</p>
      <div>
        <a class="botaoCard" href="/produto">ver produto</a>
      </div>
    </div> -->
  </div>
  </body>
</html>
