body {
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}

nav {
    background-color: #8bddcf; 
    display: block;
    max-height: 100px;
    border-bottom: 1px solid #63c6b5;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.logo {
    max-width: 9%;
    margin: 0.5% 0 0.5% 3%;
}

.navbar-itens {
    margin: 5% 90% 0 0;
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.card {
    min-width: 10%;
    max-width: 100%;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    border: 1px solid #8bddcf;
    overflow: hidden;
}

.imagemCard {
    width: 350px;
    height: 350px;
    margin-top: 10px;
}

.textoCard {
    margin: 2.5% auto;
}

.botaoCard {
    background-color: #8bddcf;
    border: 1px solid #8bddcf;
    color: black;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 3% 5% 3%;
    display: block;
}

.box {
    width: 100%;
    display: flex;
}

.frase {
    margin: 5% 7.5% 0 0;
    max-width: 50%;
    text-align: right;
}

.titulo {
    font-size: 200%;
    font-weight: 600;
}

.imgProd {
    width: 35%;
    margin: 5% 7% 0 7.50%;
}

.botaoProduto {
    text-align: center;
    background-color: #8bddcf;
    border: 1px solid #8bddcf;
    color: black;
    border-radius: 4px;
    text-decoration: none;
    margin: 2% 3% 5% 3%;
    display: inline-block;
    width: 30%;
}