.logo {
    max-width: 3%;
    margin-left: 1%;
}

.imagemCard {
    width: 350px;
    height: 350px;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.card {
    border: 1px;
    max-width: 30%;
    text-align: center;
    margin: 4% auto;
}

.textoCard {
    margin: auto;
}